@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

/*Variables*/
/*Operaciones*/
/*maps*/
.header {
  position: sticky;
  top: 0.5rem;
  z-index: 100;
}
.header .header-nav {
  box-shadow: 10px 7px 17px -4px rgba(0, 0, 0, 0.43);
}
.header .header-nav-div-link:hover {
  text-decoration: underline;
}
.header .logo {
  width: 150px;
  position: absolute;
  z-index: 60;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: -4rem;
}
@media (max-width: 576px) {
  .header .logo {
    width: 150px;
    position: absolute;
    z-index: 60;
    padding-left: 2rem;
    padding-right: 1rem;
    margin-right: -4rem;
  }
}

.main .main-carusel-imagen {
  display: block;
  width: 100%;
  height: 90vh;
  width: 100%;
  object-fit: cover;
}
.main .main-carousel-imagen-texto1 {
  position: absolute;
  right: 15%;
  bottom: 13rem;
  font-size: 4rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: center;
  box-shadow: 10px 7px 17px -4px rgba(0, 0, 0, 0.43);
}
.main .main-carousel-imagen1-parrafo {
  position: absolute;
  right: 2%;
  bottom: 1rem;
  font-size: 2rem;
  left: 2%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: center;
  background-color: rgba(114, 114, 114, 0.507);
  box-shadow: 10px 7px 17px -4px rgba(0, 0, 0, 0.43);
}
@media (max-width: 576px) {
  .main .main-carusel-imagen {
    font-size: 1.5rem;
    bottom: 5rem;
    height: 35vh;
  }
}
@media (max-width: 576px) {
  .main .main-carousel-imagen-texto1 {
    font-size: 1.5rem;
    bottom: 5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 10px 7px 17px -4px rgba(0, 0, 0, 0.43);
  }
}
@media (max-width: 576px) {
  .main .main-carousel-imagen1-parrafo {
    font-size: 1rem;
    bottom: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 10px 7px 17px -4px rgba(0, 0, 0, 0.43);
  }
}
@media (max-width: 576px) {
  .main .main-carousel-imagen-texto1 {
    font-size: 1.5rem;
    bottom: 5rem;
  }
}

.section-div-ultimos_proyectos {
  text-align: center;
}

.section-div-h2-ultimos_proyectos {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 10px 7px 17px -4px rgba(0, 0, 0, 0.43);
}

.img-hover-opacity:hover {
  filter: opacity(0.5);
}

.sombreado-titulos {
  background-color: rgba(114, 114, 114, 0.507);
  border-radius: 3px;
}

.form-div-a-botton {
  color: #ffffff;
  background-color: #dfc84a;
  border-color: #dfc84a;
}

.section-div-tituloElEquipo {
  font-size: 2rem;
}

.section-div-img-estudiovk {
  object-fit: cover;
}

.section-div-texto {
  width: 60px;
  height: 2px;
  background-color: #dfc84a !important;
}

@media (max-width: 576px) {
  .section-div-texto {
    margin-top: 1rem;
  }
}
.section-div-color_primario {
  background-color: #dfc84a !important;
}

.section-div-ultimosProyectos-row {
  margin-left: 5rem;
  object-fit: fill;
}

.section-div-ultimosProyectos {
  max-width: 80%;
  max-height: 60%;
}

.section-div-elEstudio {
  min-height: 400px;
}

.section-div-elEstudio-img {
  object-fit: cover;
}

@media (max-width: 576px) {
  .section-div-maps {
    width: 100%;
  }
}
.form-div-img-height {
  min-height: 400px;
}

.form-div-img-tamaño {
  width: 60px;
  height: 2px;
  background-color: #dfc84a;
}

.form-form-div-input {
  height: 55px;
}

.section-div-h2-nosotros {
  width: 60px;
  height: 2px;
  background-color: #dfc84a;
}

.section-div-h3-nosotros {
  font-size: 1.5rem;
}

.section-div-proyectos-h2, .section-div-proyectos-h2-parrafo-video, .section-div-proyectos-h2-video, .section-div-proyectos-h2-parrafo {
  font-weight: bold;
  color: black;
}

.section-div-proyectos-h2-parrafo {
  font-weight: 400;
}

.section-div-proyecto-video {
  align-items: center;
  padding: 2rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

@media (max-width: 576px) {
  .section-div-proyecto-video {
    width: 100%;
    height: 100%;
    margin: 0rem;
    align-items: center;
    padding: 0rem;
  }
}
.section-div-proyectos-h2-parrafo-video {
  font-weight: 400;
}

.section-div-button-proyectos {
  align-items: flex-end;
  color: #ffffff;
  background-color: #dfc84a;
  border-color: #dfc84a;
}

.main-section-div-error404-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

.main-section-div-error404 {
  max-width: 100%;
  margin-top: 0rem;
  color: grey;
}

.main-section-div-error404-h1 {
  display: flex;
  text-align: center;
  margin-top: 10rem;
  background-color: rgba(255, 250, 250, 0.473);
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: 10px 7px 17px -4px rgba(0, 0, 0, 0.43);
}

@media (max-width: 576px) {
  .main-section-div-error404-h1 {
    display: block;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    margin-left: 0%;
    box-shadow: 10px 7px 17px -4px rgba(0, 0, 0, 0.43);
  }
}
.main-section-div-error-parrafo {
  display: flex;
  font-size: 1.2rem;
  background-color: rgba(255, 250, 250, 0.473);
  justify-content: center;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: 10px 7px 17px -4px rgba(0, 0, 0, 0.43);
}

@media (max-width: 576px) {
  .main-section-div-error-parrafo {
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    margin-left: 0%;
    box-shadow: 10px 7px 17px -4px rgba(0, 0, 0, 0.43);
  }
}
.main-section-div-error-button {
  display: flex;
  margin-top: 25rem;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 0.3rem;
  color: white;
  background-color: #dfc84a;
  border-color: #dfc84a;
  padding: 0.5rem 2rem 0.5rem 2rem;
}
.main-section-div-error-button:hover {
  color: #fff;
  background-color: #9b8922;
  border-color: #9b8922;
}

@media (max-width: 576px) {
  .main-section-div-error-button {
    display: block;
    font-size: 1rem;
    margin-top: 13rem;
    padding: 1rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 7px 17px -4px rgba(0, 0, 0, 0.43);
  }
}
.main-section-div-error-ancla {
  text-decoration: none;
}

.section-div-ejemploProyecto-h2 {
  font-size: 1.5rem;
}

.section-div-ejemploProyectos-img {
  margin-top: 4.5rem;
}

.footer .footer-div-derechos {
  color: white;
}
.footer .footer-div-background {
  background: #757575;
}
.footer .footer-div-mail {
  text-decoration: none;
  color: grey;
}
.footer .footer-container-row-div {
  text-align: center;
}
.footer .footer-container-row-div .footer-container-row-div-redesSociales {
  text-align: center;
}
.footer .footer-container-row-div .footer-container-row-col-h5-redesSociales {
  text-align: center;
}
.footer .footer-container-row-div .footer-container-row-div-accesos-h5 {
  text-align: center;
}
.footer .footer-div-redesSociales {
  text-align: center;
}
.footer .footer-div-redesSociales .footer-div-redesSociales-facebook {
  font-size: 4rem;
  color: rgba(24, 118, 242, 0.4509803922);
  transition: transform 0.2s;
}
.footer .footer-div-redesSociales .footer-div-redesSociales-facebook:hover {
  transform: scale(1.1);
  color: #1876f2;
}
.footer .footer-div-redesSociales .footer-div-redesSociales-instagram {
  font-size: 4rem;
  color: rgba(212, 48, 138, 0.4509803922);
  transition: transform 0.2s;
}
.footer .footer-div-redesSociales .footer-div-redesSociales-instagram:hover {
  transform: scale(1.1);
  color: #D43089;
}
.footer .footer-div-redesSociales .footer-div-redesSociales-pinterest {
  font-size: 4rem;
  color: rgba(255, 0, 0, 0.404);
  transition: transform 0.2s;
}
.footer .footer-div-redesSociales .footer-div-redesSociales-pinterest:hover {
  transform: scale(1.1);
  color: red;
}
.footer .footer-div-redesSociales .footer-div-redesSociales-whatsapp {
  font-size: 4rem;
  color: rgba(37, 211, 101, 0.431372549);
  transition: transform 0.2s;
}
.footer .footer-div-redesSociales .footer-div-redesSociales-whatsapp:hover {
  transform: scale(1.1);
  color: #25D366;
}/*# sourceMappingURL=estilos.css.map */