.header{  
    position: sticky;
    top: .5rem;
    z-index: 100;

    .header-nav{
        box-shadow: 10px 7px 17px -4px rgba(0,0,0,0.43);

    }

        .header-nav-div-link{
            &:hover{
                text-decoration: underline;
            }
        }

    .logo{
        width: $width + 50;
        position: absolute;
        z-index: 60;
        padding-left: 1rem; 
        padding-right: $padding;
        margin-right: -4rem;
    }

        @media (max-width: 576px){

            .logo{
                width: $width + 50;
                position: absolute;
                z-index: 60;
                padding-left: 2rem; 
                padding-right: $padding;
                margin-right: -4rem;
    
        }
    }

}

