@mixin width-height {

    width: 60px; 
    height: 2px;

}


@mixin align-padding-margin($align){

align-items: $align;
padding: 2rem;
margin-bottom: 1rem;
margin-left: 3rem;
margin-right: 3rem;

}

@mixin miMixin2($valor,$borde-principal,$color:rgb(243, 86, 112)){
    height:$valor;
    background-color: aqua;
    border:$borde-principal;
    color:$color;
}



@mixin alineacion-flex($justify,$text-aling) {
    justify-content: $justify;
    text-align: $text-align;
}