/*Variables*/
$sombreado-parrafos: rgb(97, 96, 96);
$tamano-fuente-titulos: 2rem;
$tamano-fuente-mobile: 1rem;
$tamano-fuente: 1.5rem;
$text-align: center;
$padding: 1rem;

/*Operaciones*/
$width: 100px;

/*maps*/
$redes-1:(
    face : #1876f273,
    instagram : #d4308a73,
    pinterest : rgba(255, 0, 0, 0.404),
    whatsapp: #25d3656e,

);

$redes-2:(
    face : #1876f2,
    instagram : #D43089,
    pinterest : red,
    whatsapp: #25D366,

);


